body{
    font-family: 'Alegreya Sans SC', serif;
    background-image: url('../images/concrete_seamless.png');
    background-color: #f1f1f1;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a, a:visited{
    color: blue;    
}

.nav_links{
    display: flex;
    flex-direction: column;
}

.card > header{
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 7px 7px 0 0;
}

.pricing{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
}

.gallery img{
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

@keyframes appear{
    from{
        width: 50px;
        opacity: 0;
    }
    to{
        width: 425px;
        opacity: 1;
    }
}

#logo{
    animation-name: appear;
    animation-duration: 5s;
}

@media screen and (min-width: 850px){
    body > header{
        flex-direction: row;
        justify-content: space-between;
        position: sticky;
        top: 0;
    }

    .nav_links{
        flex-direction: row;
        justify-content: space-between;
    }

    .card{
        flex-basis: 250px;
    }
}

@media all and (prefers-reduced-motion:reduce){
	#logo {
		animation: none;
	}
}

@media print{
    body{
        background-image: none;
    }

    nav{
        width: 100vw;
    }

    .nav_links{
        flex-direction: row;
        justify-content: space-around;
    }

    .pricing{
        align-items: flex-end;
        flex-wrap: nowrap;
    }

    .card{
        border: 2px solid #45ADDD;
        flex-basis: 250px;
    }

    .gallery, #gallery{
        display: none;
    }

    .pricing li:nth-child(odd)::before {
        content: "\1F44D";
    }

    .pricing li:nth-child(even)::after {
        content: "\1F44D";
    }
}